aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
filelock==3.12.4
frozenlist==1.4.1
idna==3.6
mcuuid==1.1.0
multidict==6.0.5
packaging==23.2
pip-autoremove==0.10.0
pip-review==1.3.0
platformdirs==3.11.0
py-cord @ git+https://github.com/Pycord-Development/pycord@8a7ea476ac4c51bce80bfedb5c77739e51eeec6b
requests==2.31.0
uritools==4.0.2
urlextract==1.8.0
urllib3==2.2.0
yarl==1.9.4
